@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  color: #363636;
  position: relative;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 50px;
}

.heading::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 10px;
  right: 0;
  background-color: #d80846;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(to bottom, #d80846, #e93d2e);
  transform: rotate(-10deg) translate(-80px, -250px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

.header-logo {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.header-nav {
  list-style: none;
}

.header-item {
  display: inline-block;
  margin-left: 60px;
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.banner-content {
  color: white;
  margin-top: 100px;
}

.banner-heading {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 40px;
  width: 400px;
}

.banner-desc {
  font-size: 24px;
}

.banner-desc span {
  font-weight: 600;
}

.banner-button {
  padding: 15px 55px;
  margin-top: 100px;
  border-radius: 50px;
  border: 0;
  color: #d80846;
  font-weight: 600;
}

.banner-image {
  display: block;
  width: 100%;
  height: 100%;
}

.message {
  padding-bottom: 120px;
  border-bottom: 1px solid #eee;
}

.message-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.message-media {
  position: relative;
}

.message-image:last-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 10%);
}

.message-desc {
  line-height: 40px;
}

.message-item:first-child {
  transform: translateX(-50px);
}

.message-item:last-child {
  transform: translateX(50px);
}

.people {
  margin-bottom: 240px;
}

.people .heading {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 110px 0;
}

.people-feedback {
  display: flex;
  justify-content: space-between;
}

.people-item {
  width: calc(33.33% - 15px);
}

.people-item.active .people-content {
  border: none;
  transform: translateY(-40px);
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.1);
}

.people-author {
  display: flex;
  align-items: center;
  color: #858585;
}

.people-author__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.people-author__name {
  font-weight: bold;
  color: #363636;
}

.people-content {
  border: 1px solid #eee;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
}

.people-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg) translateY(78%);
  background-color: white;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.people-desc {
  font-style: italic;
  font-weight: 600;
  color: #858585;
  line-height: 30px;
  margin-bottom: 20px;
}

.people-link {
  color: #d80846;
  font-weight: bold;
}

.intro {
  background-image: linear-gradient(to bottom, #d80846, #e93d2e);
}

.intro-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-content {
  padding: 125px 0;
  position: relative;
}

.intro-item {
  width: 33.33%;
}

.intro-text {
  color: white;
}

.intro-text:first-child {
  margin-bottom: 60px;
}

.intro-title {
  font-size: 24px;
  font-weight: 600;
}

.intro-desc {
  font-size: 16px;
  color: #eb7489;
}

.intro-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70px);
  width: 365px;
}
/*# sourceMappingURL=main.css.map */