@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@function lineHeight($fz, $lh) {
  @return $lh / $fz;
}
@mixin button($paddingY, $paddingX) {
  padding: $paddingY $paddingX;
  color: white;
  font-weight: 600;
  background-color: $blue;
  border-radius: 30px;
  margin-left: 115px;
}
