html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $black;
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
button,
select,
input,
textarea {
  outline: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.container-1 {
  width: 1030px;
  margin: 0 auto;
}
