html,
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #14141d;
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
button,
select,
input,
textarea {
  outline: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.font-sintony {
  font-family: "Sintony", sans-serif;
}
.heading {
  font-size: 35px;
  font-weight: bold;
}
.stars {
  color: $organ;
}
.container--small {
  width: 970px;
}
