@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
