body {
  font-family: "Playfair Display", serif;
  background-color: #ebd6d0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  color: #413739;
  text-align: center;
  margin-bottom: 10px;
}

.header {
  padding: 10px 0;
  background-color: #ebd6d0;
}

.header__content {
  width: 90%;
  margin: 0 auto;
}

.header__item {
  display: inline-block;
  margin-right: 30px;
}

.header__link {
  color: #413739;
  text-decoration: none;
}

.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 10px;
}

.banner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.banner__title {
  color: #413739;
}

.banner__desc {
  font-size: 14px;
  color: #413739;
}

.explore__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px;
}

.explore__box {
  padding: 15px;
  text-align: center;
}

.explore__item {
  width: calc(25% - 15px);
  background-color: white;
  border-radius: 10px;
}

.explore__img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.explore__title {
  color: #413739;
  margin: 5px 0;
}

.explore__desc {
  color: #5c5c5c;
}

.explore__button {
  outline: none;
  border: none;
  padding: 5px 25px;
  background-color: #ddd9d9;
  border-radius: 15px;
  margin-top: 15px;
}

.explore__box-view {
  text-align: center;
}

.explore__view {
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 40px;
  border: 1px solid #e97f64;
  background-color: transparent;
  color: #e97f64;
}

.touch {
  margin-top: 30px;
}

.touch__title {
  color: #413739;
}

.touch__desc {
  color: #413739;
  margin: 10px 0;
}

.touch__left {
  width: 350px;
}

.touch__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 150px;
  width: 100%;
  padding: 0 10px;
}

.touch__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.touch__down--title {
  color: #413739;
  margin-bottom: 10px;
  font-size: 16px;
}

.touch__down--app img {
  width: 100px;
}

.touch__down--social i {
  font-size: 22px;
  color: #e76f51;
  padding-right: 5px;
}
/*# sourceMappingURL=main.css.map */