.banner {
  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: white;
  }
}
