.banner {
  position: relative;
  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
  }
  &__desc {
    font-size: 14px;
  }
}
