.explore {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
  }
  &__box {
    padding: 15px;
    text-align: center;
  }
  &__item {
    width: calc(25% - 15px);
    background-color: white;
    border-radius: 10px;
  }
  &__img {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
  &__title {
    color: $black;
    margin: 5px 0;
  }
  &__desc {
    color: rgb(92, 92, 92);
  }
  &__button {
    outline: none;
    border: none;
    padding: 5px 25px;
    background-color: rgb(221, 217, 217);
    border-radius: 15px;
    margin-top: 15px;
  }
}
