.explore {
  &__content {
    display: flex;
  }
  &__box {
      padding15
      
  }
  &__item {
    width: 25%;
    background-color: white;
  }
  &__img {
    display: block;
    width: 100%;
  }
}
