.explore {
  &__content {
    display: flex;
  }
  &__box {
    padding: 15px;
    text-align: center;
  }
  &__item {
    width: 25%;
    background-color: white;
  }
  &__img {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
}
