.header {
  padding-top: 10px;
  background-color: $primary;
  &__content {
    width: 90%;
    margin: 0 auto;
  }
  &__top {
  }
  &__menu {
  }
  &__item {
    display: inline-block;
  }
  &__link {
    text-decoration: none;
  }
}
