.touch {
  margin-top: 30px;
  &__title {
    color: $black;
  }
  &__left {
    width: 350px;
  }
  &__content {
    display: flex;
    gap: 150px;
  }
  &__down {
    display: flex;
    gap: 30px;
    &--title {
      color: $black;
    }
    &--app {
      img {
        width: 100px;
      }
    }
  }
}
