.touch {
  margin-top: 30px;
  &__title {
    color: $black;
  }
  &__desc {
    color: $black;
    margin: 10px 0;
  }
  &__left {
    width: 350px;
  }
  &__content {
    display: flex;
    gap: 150px;
  }
  &__down {
    display: flex;
    gap: 30px;
    &--title {
      color: $black;
      margin-bottom: 10px;
      font-size: 16px;
    }
    &--app {
      img {
        width: 100px;
      }
    }
    &--social {
      i {
        font-size: 20px;
        color: #e76f51;
      }
    }
  }
}
