html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #242f51;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

button,
select,
input,
textarea {
  outline: none;
  border: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container-1 {
  width: 1030px;
  margin: 0 auto;
}

.header {
  padding-top: 90px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  color: #fcae61;
  font-weight: bold;
}

.header__logo span {
  color: #242f51;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header-item {
  padding: 0 15px;
}

.header-link {
  text-decoration: none;
  color: #242f51;
}

.header__button {
  padding: 15px 40px;
  color: white;
  font-weight: 600;
  background-color: #2400f9;
  border-radius: 30px;
  margin-left: 115px;
}

.banner {
  background: url("../../images/decorate-banner.png") no-repeat 0% bottom/contain, url("../../images/banner.png") no-repeat bottom;
  margin-bottom: 120px;
}

.banner__left {
  width: 430px;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__image {
  width: 370px;
  height: 730px;
  object-fit: cover;
}

.banner__time {
  min-width: 360px;
  display: inline-block;
  background-color: #e2e9ec;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding-left: 55px;
}

.banner__icon {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fdaa25;
}

.banner__title {
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.banner__desc {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}

.banner__join {
  display: flex;
  align-items: center;
}

.banner__button {
  padding: 15px 40px;
  color: white;
  font-weight: 600;
  background-color: #2400f9;
  border-radius: 30px;
  margin-right: 30px;
}

.banner__demo {
  color: #2500f9;
}

.trusted {
  margin-bottom: 150px;
}

.trusted__title {
  text-align: center;
  margin-bottom: 35px;
}

.trusted__logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 120px;
}

.trusted__item {
  width: 135px;
}
/*# sourceMappingURL=main.css.map */