body {
  font-family: "Playfair Display", serif;
  background-color: $primary;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 20px;
  font-weight: bold;
  color: $black;
  text-align: center;
}
