body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button,
select,
input,
textarea {
  outline: none;
}
