.banner {
  display: flex;
  justify-content: space-between;
  &-content {
    color: white;
  }
  &-heading {
    font-size: 72px;
    font-weight: 800;
  }
  &-desc {
    font-size: 24px;
    span {
      font-weight: 600;
    }
  }
  &-button {
    padding: 55px 15px;
  }
}
