.overlay {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-image: linear-gradient(to bottom, $color-red, #e93d2e);
    transform: rotate(-5deg) translate(-80px, -40px);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  &-logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  &-nav {
    list-style: none;
  }
  &-item {
    display: inline-block;
    margin-left: 60px;
  }
  &-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
}
