.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  &-logo {
    font-size: 50px;
    font-weight: bold;
  }
  &-nav {
    list-style: none;
  }
  &-item {
    display: inline-block;
    margin-left: 60px;
  }
  &-link {
    text-decoration: none;
    color: black;
  }
}
