.overlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #d80846, #e93d2e);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  position: relative;
  &-logo {
    font-size: 50px;
    font-weight: bold;
  }
  &-nav {
    list-style: none;
  }
  &-item {
    display: inline-block;
    margin-left: 60px;
  }
  &-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
}
