.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  &-logo {
    font-size: 50px;
    font-weight: bold;
  }
  &-nav {
    list-style: none;
  }
  &-item {
    display: inline-block;
  }
}
