.intro {
  background-image: linear-gradient(to bottom, $color-red, #e93d2e);
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;
  }
  &-item {
    width: 33.33%;
  }
}
