.intro {
  background-image: linear-gradient(to bottom, $color-red, #e93d2e);
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;
    position: relative;
  }
  &-item {
    width: 33.33%;
  }
  &-text {
    color: white;
    text-align: end;
    &:first-child {
      margin-bottom: 60px;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 600;
  }
  &-desc {
    font-size: 16px;
    color: #eb7489;
  }
  &-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
