.message {
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &-heading {
    font-size: 50px;
    font-weight: bold;
    color: $color-black;
    position: relative;
    display: inline-block;
    padding-right: 25px;
    margin-bottom: 50px;
    &::after {
      content: "";
      position: absolute;
      @include size(15px);
      border-radius: 50%;
      bottom: 10px;
      right: 0;
      background-color: $color-red;
    }
  }
  &-media {
    position: relative;
  }
  &-image {
    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 10%);
    }
  }
}
