.message {
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-heading {
    font-size: 50px;
    font-weight: bold;
    color: $color-black;
    display: inline-block;
    &::after {
      content: "";
      display: block;
      @include size(15px);
      border-radius: 50%;
      background-color: $color-red;
    }
  }
}
