.people {
  .heading {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 110px 0;
  }
  &-feedback {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: calc(33.33% - 15px);
  }
  &-author {
    &__image {
      width: 100%;
    }
  }
  &-content {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
  }
  &-desc {
    font-style: italic;
    color: $color-black-1;
    line-height: 40px;
  }
}
