.people {
  .heading {
    display: flex;
    justify-content: center;
  }
  &-feedback {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: calc(33.33% - 15px);
  }
  &-author {
    &__image {
      width: 100%;
    }
  }
}
