.people {
  .heading {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 110px 0;
  }
  &-feedback {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: calc(33.33% - 15px);
    &.active {
      .people-content {
        border: none;
        transform: translateY(-40px);
        box-shadow: 0 10px 30px 5px rgba(black, 0.2);
      }
    }
  }
  &-author {
    display: flex;
    align-items: center;
    color: $color-black-1;
    &__image {
      @include size(70px);
      border-radius: 50%;
      margin-right: 20px;
    }
    &__name {
      font-weight: bold;
      color: $color-black;
    }
  }
  &-content {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30px;
      @include size(15px);
      transform: rotate(45deg) translateY(78%);
      background-color: white;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }
  &-desc {
    font-style: italic;
    font-weight: 600;
    color: $color-black-1;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &-link {
    color: $color-red;
    font-weight: bold;
  }
}
