html,
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #14141d;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

button,
select,
input,
textarea {
  outline: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.font-sintony {
  font-family: "Sintony", sans-serif;
}

.heading {
  font-size: 35px;
  font-weight: bold;
}

.stars {
  color: #fda100;
}

.container--small {
  width: 970px;
}

.header {
  padding: 20px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 215px;
}

.header__image {
  width: 100%;
}

.header-nav__list {
  list-style: none;
}

.header-nav__item {
  display: inline-block;
  padding: 0 15px;
}

.header-nav__link {
  color: #7a8691;
  text-decoration: none;
  text-transform: uppercase;
}

.header__add {
  display: flex;
  align-items: center;
}

.header__shopping {
  position: relative;
  margin-right: 30px;
}

.header__num {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fe4c8d;
  color: white;
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 11px;
}

.header__button {
  text-transform: uppercase;
  background-color: #fda100;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 0 0 #fda100, inset -3px -3px 0 0 #fda100, inset 4px 4px 0 0 white, inset -4px -4px 0 0 white;
  color: white;
}

.header__icon {
  margin-right: 15px;
  color: black;
}

.banner {
  width: 100%;
  height: 250px;
  background-color: #7a8691;
  position: relative;
}

.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  color: white;
}

.banner-image__left {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  width: 45px;
}

.banner-image__right {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%) scaleX(-100%);
  width: 45px;
}

.chatny {
  margin: 100px 0;
}

.chatny__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chatny__intro {
  width: 100%;
  height: 450px;
  background-color: #7a8691;
  position: relative;
  margin-top: 30px;
}

.chatny__download {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

.chatny__down {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 100px;
  width: 50%;
}

.chatny-down__title {
  font-size: 24px;
  font-weight: bold;
}

.chatny-down__caption {
  font-size: 16px;
  color: #7a8691;
}

.chatny__count {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 40px;
}

.chatny__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatny__number {
  font-size: 24px;
  font-weight: bold;
}

.chatny__caption {
  color: #7a8691;
  font-size: 16px;
}

.chatny__icon {
  width: 30px;
  height: 41px;
  object-fit: cover;
  margin-right: 25px;
}

.statistical {
  margin-bottom: 60px;
}

.statistical__box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-transform: uppercase;
}

.statistical__text {
  line-height: 1.85714;
}

.statistical__left, .statistical__right {
  width: 50%;
}

.statistical__item {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 13px;
  font-weight: 600;
}

.statistical__check {
  width: 25px;
  height: 25px;
  background-color: rgba(254, 76, 141, 0.25);
  color: #fe4c8d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
}

.statistical__heading {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 24px;
}

.statistical__nutrition {
  background-color: white;
  padding: 40px;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
}

.statistical__right {
  position: relative;
  transform: translateY(-40px);
  z-index: 2;
}

.statistical__image {
  width: 228px;
  height: 228px;
  background-color: #7a8691;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -30px);
  z-index: -1;
}

.statistical-list {
  display: flex;
  justify-content: space-between;
}

.statistical-list__list {
  list-style: none;
}

.statistical-list__item1 {
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
}

.statistical-list__heading {
  font-size: 18px;
  color: #fe4c8d;
  font-weight: 600;
}

.food {
  background-color: #fda100;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.food__png {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  transform: rotate(-127deg);
}

.food__heading {
  color: white;
  margin-bottom: 36px;
}

.food__item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.food__num {
  background-color: #cc8306;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px #fda100, 0 0 0 6px #cc8306;
}

.food__count {
  font-size: 30px;
}

.food__step {
  font-size: 14px;
}

.food__desc {
  color: white;
  margin-left: 36px;
  line-height: 1.85714;
  max-width: 700px;
}

.food__list {
  max-width: 900px;
  padding-left: 6px;
  padding-top: 6px;
  height: 330px;
  overflow-y: auto;
}

.featured {
  margin-top: 100px;
}

.featured__shopping {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.featured__heading {
  margin-bottom: 40px;
}

.featured__item {
  width: calc(100% / 3 - 20px);
  background-color: white;
  border: 1px solid #e8edef;
}

.featured__image {
  display: block;
  width: 370px;
  height: 201px;
  background-color: #7a8691;
  width: 100%;
}

.featured__text {
  padding: 40px;
}

.featured__title {
  font-size: 26px;
}

.featured__desc {
  font-size: 14px;
  line-height: 1.85714;
  margin: 30px 0;
  color: #5c6369;
}

.featured__star i {
  color: #d4d5d4;
}

.featured__star i:not(:last-child) {
  color: #fea100;
}

.featured__button {
  font-size: 14px;
  padding: 20px 25px;
  border: none;
  border-radius: 3px;
  background-color: #fda100;
  color: white;
}

.hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hours__image {
  width: 210px;
  height: 210px;
  transform: translateY(-30px);
  background-color: #7a8691;
}

.hours__time {
  display: flex;
  gap: 60px;
}

.hours__day {
  font-size: 20px;
  color: #373844;
  font-style: italic;
}

.hours__pm {
  font-size: 30px;
  color: #fda100;
  font-weight: bold;
}

.hours__item {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #373844;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer__heading {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer-menu {
  list-style-type: none;
}

.footer-item {
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  color: #adb2b7;
  font-size: 14px;
}

.footer__desc {
  font-size: 14px;
  color: #adb2b7;
  margin-bottom: 20px;
}

.footer__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fda100;
}

.footer__input {
  position: relative;
  width: 300px;
  height: 50px;
  border: 1px solid #52535e;
  border-radius: 3px;
  margin-right: 10px;
}

.footer__join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.footer__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 7px;
  cursor: pointer;
}

.footer__socials {
  display: flex;
}

.footer__socials-fb {
  background-color: #3c5999;
}

.footer__socials-tw {
  background-color: #55abee;
}

.footer__socials-gg {
  background-color: #dc4c37;
}

.footer__button {
  padding: 16px 35px;
  background-color: #fda100;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.footer-input {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  background-color: transparent;
  border: none;
  color: white;
}

.footer-input::placeholder {
  color: #e6e9eb;
}

.footer__img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer__text {
  display: flex;
  flex-direction: column;
}

.footer__down {
  display: flex;
  align-items: center;
  background-color: #52535d;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 0 15px 20px;
  width: 220px;
  color: white;
  cursor: pointer;
}

.footer__down-title {
  font-size: 18px;
}

.footer__down-desc {
  font-size: 11px;
}

.footer__bottom {
  position: relative;
  border-bottom: 1px solid #7a8691;
}

.footer__coppyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #373844;
  display: inline-block;
  color: #adb2b7;
  padding: 0 30px;
}

.footer__coppyright span {
  color: white;
}
/*# sourceMappingURL=main.css.map */