.header {
  padding: 10px 0;
  background-color: $primary;
  &__content {
    width: 90%;
    margin: 0 auto;
  }
  &__top {
  }
  &__menu {
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
  }
  &__link {
    color: $black;
    text-decoration: none;
  }
}
