.banner {
  @include size(100%, 250px);
  background-color: $gray;
  position: relative;
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    color: white;
  }
  &-image {
    &__left {
      position: absolute;
      top: 50%;
      left: -50px;
      transform: translateY(-50%);
      width: 45px;
      filter: $organ;
    }
    &__right {
      position: absolute;
      top: 50%;
      right: -50px;
      transform: translateY(-50%) scaleX(-100%);
      width: 45px;
    }
  }
}
