.banner {
  @include size(100%, 250px);
  background-color: $gray;
  position: relative;
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
  }
}
