.chatny {
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__intro {
    width: 100%;
    height: 450px;
    background-color: $gray;
  }
  &__icon {
    width: 30px;
  }
}
