.chatny {
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__intro {
    width: 100%;
    height: 450px;
    background-color: $gray;
  }
  &__download {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__icon {
    width: 30px;
  }
}
