.chatny {
  margin-bottom: 300px;
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__intro {
    width: 100%;
    height: 450px;
    background-color: $gray;
    position: relative;
  }
  &__download {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 10px 15px 10px rgba(black, 0.1);
    padding: 30px 0;
  }
  &__down {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 100px;
    width: 50%;
  }
  &-down {
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
    &__caption {
      font-size: 16px;
      color: $gray;
    }
  }
  &__count {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__number {
    font-size: 24px;
    font-weight: bold;
  }
  &__caption {
    color: $gray;
  }
  &__icon {
    @include size(30px, 41px);
    object-fit: cover;
    margin-right: 25px;
  }
}
