.chatny {
  margin-bottom: 300px;
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__intro {
    width: 100%;
    height: 450px;
    background-color: $gray;
    position: relative;
  }
  &__download {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 15px 15px 0 rgba(black, 0.1);
  }
  &__icon {
    width: 30px;
  }
}
