.featured {
  margin-top: 100px;
  &__shopping {
    display: flex;
    flex-wrap: wrap;
  }
  &__heading {
    margin-bottom: 40px;
  }
  &__item {
    width: calc(33.33% - 30px);
    margin-left: 30px;
    background-color: white;
    border: 1px solid $gray-3;
  }
  &__image {
    display: block;
    @include size(370px, 201px);
    background-color: $gray;
    width: 100%;
  }
  &__text {
    padding: 40px;
  }
  &__title {
    font-size: 26px;
  }
  &__desc {
    font-size: 14px;
    line-height: lineHeight(14px, 26px);
    margin: 30px 0;
    color: $gray-2;
  }
  &__star {
    i {
      color: $gray-1;
      &:not(:last-child) {
        color: #fea100;
      }
    }
  }
  &__button {
    font-size: 14px;
    padding: 20px 25px;
    border: none;
    border-radius: 3px;
    background-color: $organ;
    color: white;
  }
}
