.featured {
  &__shopping {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 33.33%;
    background-color: white;
  }
  &__image {
    display: block;
    @include size(370px, 201px);
    background-color: $gray;
  }
}
