.footer {
  background-color: $gray-4;
  padding-top: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &-menu {
    list-style-type: none;
  }
  &-item {
    margin-bottom: 20px;
  }
  &-link {
    text-decoration: none;
    color: $gray-5;
    font-size: 14px;
  }
  &__desc {
    font-size: 14px;
    color: $gray-5;
    margin-bottom: 20px;
  }
  &__form {
    &-icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: $organ;
    }
  }
  &__input {
    position: relative;
    @include size(300px, 50px);
    border: 2px solid $gray;
  }
  &-input {
    width: 100%;
    height: 100%;
  }
}
