.footer {
  background-color: $gray-4;
  padding-top: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  &-menu {
    list-style-type: none;
  }
  &-link {
    text-decoration: none;
    color: $gray-5;
  }
}
