.food {
  background-color: $organ;
  padding: 100px 0;
  &__heading {
    color: white;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__num {
    background-color: $organ-1;
  }
}
