.food {
  background-color: $organ;
  padding: 100px 0;
  &__heading {
    color: white;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__num {
    background-color: $organ-1;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 2px $organ, 0 0 0 5px $organ-1;
  }
  &__count {
    font-size: 30px;
  }
  &__step {
    font-size: 14px;
  }
}
