.food {
  background-color: $organ;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  &__png {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: rotate(-90deg);
  }
  &__heading {
    color: white;
    margin-bottom: 36px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__num {
    background-color: $organ-1;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 2px $organ, 0 0 0 6px $organ-1;
  }
  &__count {
    font-size: 30px;
  }
  &__step {
    font-size: 14px;
  }
  &__desc {
    color: white;
    margin-left: 36px;
    line-height: lineHeight(14px, 26px);
    max-width: 700px;
  }
  &__list {
    max-width: 900px;
    padding-left: 6px;
    padding-top: 6px;
    height: 330px;
    overflow-y: auto;
  }
}
