.footer {
  background-color: $gray-4;
  padding-top: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &-menu {
    list-style-type: none;
  }
  &-item {
    margin-bottom: 20px;
  }
  &-link {
    text-decoration: none;
    color: $gray-5;
    font-size: 14px;
  }
  &__desc {
    font-size: 14px;
    color: $gray-5;
    margin-bottom: 20px;
  }
  &__form {
    &-icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: $organ;
    }
  }
  &__input {
    position: relative;
    @include size(300px, 50px);
    border: 1px solid $gray-7;
    border-radius: 3px;
    margin-right: 10px;
  }
  &__join {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  &__icon {
    @include size(50px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 7px;
  }
  &__socials {
    display: flex;
    &-fb {
      background-color: #3c5999;
    }
    &-tw {
      background-color: #55abee;
    }
    &-gg {
      background-color: #dc4c37;
    }
  }
  &__button {
    padding: 16px 35px;
    background-color: $organ;
    color: white;
    border: none;
    border-radius: 3px;
  }
  &-input {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    background-color: transparent;
    border: none;
    color: white;
    &::placeholder {
      color: $gray-6;
    }
  }
  &__img {
    @include size(30px);
    margin-right: 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__down {
    display: flex;
    align-items: center;
    background-color: #52535d;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px 0 15px 20px;
    width: 220px;
    color: white;
    &-title {
      font-size: 18px;
    }
    &-desc {
      font-size: 11px;
    }
  }
  &__bottom {
  }
  &__coppyright {
    color: $gray-5;
    text-align: center;
    span {
      color: white;
    }
  }
}
