.header {
  margin-top: 20px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: c;
  }
  &__logo {
    width: 215px;
  }
  &__image {
    width: 100%;
  }
  &-nav {
    &__list {
      list-style: none;
    }
    &__item {
      display: inline-block;
    }
    &__link {
      color: $gray;
      text-decoration: none;
    }
  }
}
