.header {
  margin-top: 20px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 215px;
  }
  &__image {
    width: 100%;
  }
  &-nav {
    &__list {
      list-style: none;
    }
    &__item {
      display: inline-block;
      padding: 0 15px;
    }
    &__link {
      color: $gray;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  &__add {
    display: flex;
  }
  &__shopping {
    position: relative;
    margin-right: 30px;
  }
  &__num {
    @include size(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $violet;
    color: white;
    position: absolute;
    top: -9px;
    right: -9px;
    font-size: 11px;
  }
  &__button {
    text-transform: uppercase;
    background-color: $organ;
    padding: 20px 15px;
  }
}
