.hours__heading {
  color: red;
}
.hours {
  &__heading {
    .nvb {
      color: $gray;
    }
    .anhtuan {
      color: $gray-1;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    @include size(210px);
    transform: translateY(-30px);
    background-color: $gray;
  }
  &__time {
    display: flex;
    gap: 60px;
  }
  &__day {
    font-size: 20px;
    color: $gray-4;
    font-style: italic;
  }
  &__pm {
    font-size: 30px;
    color: $organ;
    font-weight: bold;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
}
