.hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    @include size(210px);
    transform: translateY(-30px);
    background-color: $gray;
  }
  &__time {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
}
