.statistical {
  &__box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  &__left,
  &__right {
    width: 50%;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 13px;
    font-weight: 600;
  }
  &__check {
    @include size(25px);
    background-color: rgba($violet, 0.25);
    color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__heading {
    margin-bottom: 30px;
  }
  &__right {
    position: relative;
    background-color: white;
    padding: 40px;
    box-shadow: 0 10px 15px 5px rgba(black, 0.1);
    transform: translateY(-40px);
  }
  &__image {
    @include size(228px);
    background-color: $gray;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -30px);
    z-index: -1;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    &__list {
      list-style: none;
    }
    &__item1 {
      font-size: 13px;
      font-weight: 600;
      margin-top: 30px;
    }
    &__heading {
      font-size: 18px;
      color: $violet;
      font-weight: 600;
    }
  }
}
