.statistical {
  &__box {
    display: flex;
    justify-content: center;
  }
  &__left,
  &__right {
    width: 50%;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-weight: 600;
  }
  &__check {
    @include size(25px);
    background-color: rgba($violet, 0.25);
    color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__heading {
    margin-bottom: 30px;
  }
}
