.statistical {
  &__box {
    display: flex;
    justify-content: center;
  }
  &__left,
  &__right {
    width: 50%;
  }
  &__item {
    display: flex;
    margin-bottom: 13px;
  }
  &__check {
    @include size(25px);
    background-color: rgba($violet, 0.25);
    color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
