.message {
  padding-bottom: 120px;
  border-bottom: 1px solid #eee;
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &-media {
    position: relative;
  }
  &-image {
    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 10%);
    }
  }
  &-desc {
    line-height: 40px;
  }
  &-item {
    &:first-child {
      transform: translateX(-50px);
    }
    &:last-child {
      transform: translateX(50px);
    }
  }
}
