.banner {
  &__left {
    width: 430px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__image {
    @include size(370px, 730px);
    object-fit: cover;
  }
  &__time {
    min-width: 360px;
    display: inline-block;
    background-color: $gray;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-left: 55px;
  }
  &__icon {
    position: absolute;
    @include size(45px);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $organ;
  }
  &__title {
    font-size: 50px;
    line-height: lineHeight(50px, 75px);
  }
}
