.banner {
  &__content {
    display: flex;
    align-items: center;
  }
  &__image {
    @include size(370px, 730px);
    object-fit: cover;
  }
  &__time {
    min-width: 360px;
    background-color: $gray;
  }
}
