.banner {
  background: url("../../images/banner.png") no-repeat bottom / cover;
  &__left {
    width: 430px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    @include size(370px, 730px);
    object-fit: cover;
  }
  &__time {
    min-width: 360px;
    display: inline-block;
    background-color: $gray;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding-left: 55px;
  }
  &__icon {
    position: absolute;
    @include size(45px);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $organ;
  }
  &__title {
    font-size: 50px;
    line-height: lineHeight(50px, 65px);
    margin-bottom: 25px;
  }
  &__desc {
    font-size: 18px;
    line-height: lineHeight(18px, 28px);
    margin-bottom: 45px;
  }
  &__join {
    display: flex;
    align-items: center;
  }
  &__button {
    @include button(15px, 40px);
    margin-right: 30px;
  }
  &__demo {
    color: $blue-1;
  }
}
