.banner {
  &__content {
    display: flex;
    align-items: center;
  }
  &__image {
    @include size(370px, 730px);
    object-fit: cover;
  }
  &__time {
    min-width: 360px;
    display: inline-block;
    background-color: $gray;
    padding: 10px;
    border-radius: 30px;
    position: relative;
  }
  &__icon {
    position: absolute;
    @include size(40px);
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $organ;
  }
}
