.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    align-items: center;
  }
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &-item {
    padding: 0 15px;
  }
  &-link {
    text-decoration: none;
    color: $black;
  }
}
