.header {
  padding-top: 90px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 30px;
    color: $yelow;
    font-weight: bold;
    span {
      color: $black;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &-item {
    padding: 0 15px;
  }
  &-link {
    text-decoration: none;
    color: $black;
  }
  &__button {
    @include button(15px, 40px);
    margin-left: 115px;
  }
}
