.trusted {
  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 135px;
    object-fit: cover;
  }
}
