.trusted {
  margin-bottom: 150px;
  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    width: 135px;
  }
}
