.container {
  width: 1200px;
  margin: 0 auto;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  color: $color-black;
  position: relative;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 50px;
  &::after {
    content: "";
    position: absolute;
    @include size(15px);
    border-radius: 50%;
    bottom: 10px;
    right: 0;
    background-color: $color-red;
  }
}
